shamefully-hoist=true
enable-pre-post-scripts=true
strict-peer-dependencies=false
auto-install-peers=true
resolution-mode=highest
engine-strict=true
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@prettier/plugin-*
public-hoist-pattern[]=*prettier-plugin-*
global-bin-dir=C:\Users\THIS PC\AppData\Local\pnpm