---
import BaseLayout from '../layouts/BaseLayout.astro'
import CategoryList from '../components/CategoryList.astro'
---

<BaseLayout title="Categories">
    <h1>All Categories</h1>
    <CategoryList />
</BaseLayout>
