/* Import PrismJS theme */
@import 'prismjs/themes/prism-tomorrow.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  background-color: white;
  color: #171717;
}

html.dark body {
  background-color: #0a0a0a;
  color: #ededed;
}