---
import { CATEGORIES } from '@/data/categories'
import { sluglify } from '@/utils'
---

<div class="category-list">
    {CATEGORIES.map((category) => (
            <a href={`/category/${sluglify(category.name.toLowerCase())}/1`} class="category-item">
                <img src={category.image.src} alt={category.name} class="category-image" />
                <span class="category-name">{category.name}</span>
            </a>
    ))}
</div>

<style>
    .category-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        padding: 5px;
        margin-top: -20px;
    }
    .category-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: inherit;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .category-item:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .category-image {
        max-width: 360px;
        max-height: 180px;
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
        transition: transform 0.3s ease;
    }
    .category-name {
        margin-top: 10px;
        font-weight: bold;
        font-size: 1.2em;
        text-align: center;
    }
    @media (max-width: 768px) {
        .category-list {
            padding: 5%;
        }
        .category-item {
            width: 90%;
            margin: 0 auto;
        }
    }
</style>
