---
const today = new Date()
---

<footer class='flex flex-col justify-center items-center w-full px-2 h-14 border-t-2'>
	<div>© {today.getFullYear()} M.F.M Fazrin.</div>
	<div class="text-center">All rights reserved.</div>
</footer>
