---
import BaseHead from '@/components/BaseHead'
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import ProviderTheme from '@/components/ProviderTheme'
import ProviderAnimations from '@/components/ProviderAnimations'
import TwSizeIndicator from '@/components/TwSizeIndicator'
const { title, description, image, articleDate } = Astro.props
---

<html lang='en' class='scroll-smooth'>
<head>
 <BaseHead title={title} description={description} ogImage={image} articleDate={articleDate} />
 <ProviderTheme />
 <ProviderAnimations />
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TT23HWE3LH"></script>
  <script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-TT23HWE3LH');
  </script>
 <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5415404685631285"
     crossorigin="anonymous"></script>
 <style>
  @media (max-width: 768px) {
   .image-container img {
    width: 100%;
    height: auto;
   }
  }
 </style>
</head>

<body class='bg-white text-stone-950 dark:bg-[#0a0910] dark:text-white'>
 <main
  class='px-5 sm:mx-auto sm:max-w-2xl sm:px-8 lg:px-0 antialiased md:max-w-6xl grid gap-12 mt-4 overflow-hidden md:overflow-visible'
 >
  <Header />
  <slot />
  <Footer />
 </main>
 <TwSizeIndicator />
 <style>
  body {
   margin-left: calc(100vw - 100%); /* prevent layout shift */
  }
 </style>
</body>
</html>